<div class="container" style="width: 500px;">
  <form action="/records/{{ record._id }}?_method=PUT" method="POST">

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <p><i>*必填欄位</i></p>
      </div>
      <div class="col-8 text-center">
        <h3>編輯支出</h3>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="name">名稱*：</label>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" id="name" name="name" required value={{ record.name }}>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="date">日期*：</label>
      </div>
      <div class="col-8">
        <input type="date" class="form-control" id="date" name="date" required value={{ record.date }}>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="category">類別*：</label>
      </div>
      <div class="col-8">
        <select class="form-control" id="category" name="category" required>
          {{#each category}}
          <option {{#is ../record.category.name ./this.name }}selected{{/is}}>{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
        <label style="font-size: 1.2rem;" for="amounnt">金額*：</label>
      </div>
      <div class="col-8">
        <input type="number" class="form-control" id="amount" name="amount" min="1" step="1" required value={{
          record.amount }}>
      </div>
    </div>

    <div class="my-5 row align-items-center">
      <div class="col-4 text-center">
      </div>
      <div class="col-8">
        <button type="submit" class="btn btn-light btn-block">更新支出</button>
      </div>
    </div>
  </form>
</div>