<div class="container mt-2">
  <div class="row align-items-center">

    <div class="col-lg-5">
      <div id="accordion" class="d-lg-none">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" >
                功能選單
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse"  data-parent="#accordion">
            <div class="card-body">
              <form action="/" class="shadow-sm rounded bg-light p-3">
                <div class="d-flex  text-center my-3 py-3  justify-content-center align-items-center">
                  <div class="input-group mb-0 w-75">
                    <div class="input-group-prepend">
                      <i class="fas fa-search text-muted input-group-text"></i>
                    </div>
                    <input class="form-control" type="text" placeholder="搜尋" name="search" onchange="submit()" value="{{search}}"
                      required>
                    <div class="input-group-append">
                      <button class="btn btn-info" type="button">搜尋</button>
                    </div>
                  </div>
                </div>
              
                <div class="d-flex  text-center my-3 py-3  justify-content-center align-items-center">
                  <div class="form-group mx-1 mb-0">
                    <input type="month" class="form-control" name="time" placeholder="月份" onchange="submit()" value="{{time}}">
                  </div>
                  <div class="form-group mx-1 mb-0">
                    <select class="form-control" name="category" onchange="submit()">
                      <option value='' {{#is category '' }}selected{{/is}}>類別</option>
                      {{#each category}}
                      <option {{#is ../categoryId ./this._id }}selected{{/is}} value={{this._id}}>{{ this.name }}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              
                <div class="d-flex rounded text-center my-3 py-3 justify-content-center align-items-center">
                  <a href="/" class="mx-3">
                    <button type="button" class="btn btn-info">顯示全部</button>
                  </a>
                  <a href="/records/new" class="d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-danger">新增支出</button>
                  </a>
                </div>
              
              </form>
            </div>
          </div>
        </div>
      </div>
      <form action="/" class="shadow-sm rounded bg-light p-3 d-none d-lg-block">

        <div class="d-flex  text-center my-3 py-3  justify-content-center align-items-center">
          <div class="input-group mb-0 w-75">
            <div class="input-group-prepend">
              <i class="fas fa-search text-muted input-group-text"></i>
            </div>
            <input class="form-control" type="text" placeholder="搜尋" name="search" onchange="submit()"
              value="{{search}}" required>
            <div class="input-group-append">
              <button class="btn btn-info" type="button">搜尋</button>
            </div>
          </div>
        </div>

        <div class="d-flex  text-center my-3 py-3  justify-content-center align-items-center">
          <div class="form-group mx-1 mb-0">
            <input type="month" class="form-control" name="time" placeholder="月份" onchange="submit()" value="{{time}}">
          </div>
          <div class="form-group mx-1 mb-0">
            <select class="form-control" name="category" onchange="submit()">
              <option value='' {{#is category '' }}selected{{/is}}>類別</option>
              {{#each category}}
              <option {{#is ../categoryId ./this._id }}selected{{/is}} value={{this._id}}>{{ this.name }}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="d-flex rounded text-center my-3 py-3 justify-content-center align-items-center">
          <a href="/" class="mx-3">
            <button type="button" class="btn btn-info">顯示全部</button>
          </a>
          <a href="/records/new" class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-danger">新增支出</button>
          </a>
        </div>

      </form>
    </div>

    <div class="col-lg-7 py-5">

      <div>
        <div class="row p-2 bg-light shadow-sm rounded">
          <div class="col-4 d-flex justify-content-center align-items-center">
            <div>
              <h6>{{time}}{{#if time}}｜{{else}}全部の{{/if}}{{categoryChoosen}}</h6>
              <h3>總金額：</h3>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-end pr-5">
            <h1 style="font-size: 3.8rem; color: salmon">{{#sum totalAmount}}{{/sum}}</h1>
          </div>
        </div>
      </div>

      <div class="my-3" style="height: 600px;overflow: auto">

        {{#each record}}
        <div class="d-flex record-row ani-record">
          <div class="row py-2 px-3" style="width: 100%;">
            <div class="col-1 d-flex align-items-center">
              <i class="category {{ this.categoryId.image }}"></i>
            </div>
            <div class="col-7 d-flex flex-column justify-content-center">
              <h5>{{ this.name }}</h5>
              <h6>{{ this.date }} ‧
                <i class="fas fa-map-marker-alt"></i> {{ this.merchant }}
              </h6>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
              <h5>{{ this.amount }}</h5>
            </div>
          </div>

          <div class="btn-group">
            <a class="btn btn-light d-flex align-items-center" href="/records/{{this._id}}/edit">
              <i class="fas fa-pen"></i>
            </a>
            <form action="/records/{{this._id}}?_method=DELETE" method="post" class="d-inline-flex">
              <button class="btn btn-light" type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </div>
        </div>
        {{/each}}
        {{#unless record}}
        <h5 class="alert-danger rounded text-center py-2 ani-record">太棒了! 目前還沒花到錢!</h5>
        {{/unless}}

      </div>

    </div>

  </div>
</div>