<div class="container" style="width: 500px;">

  <div class="my-4">
    <form action="/">
      <div class="form-group">
        <select class="form-control" name="category" onchange="submit()">
          <option value='' {{#is category '' }}selected{{/is}}>類別</option>
          {{#each category}}
          <option {{#is ../categoryChoosen ./this.name }}selected{{/is}}>{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </form>
  </div>

  <div class=" d-flex align-items-center justify-content-between px-3">
    <div>
      <h6>{{categoryChoosen}}</h6>
      <h3>總金額：</h3>
    </div>
    <h1 style="font-size: 4rem; color: salmon">{{#sum total}}{{/sum}}</h1>
  </div>

  <div class="my-4" style="width: 550px; height: 500px;overflow: auto">
    {{#each record}}
    <div class="d-flex record-row">
      <div class="row py-2 px-3" style="width: 100%;">
        <div class="col-1 d-flex align-items-center">
          <i class="{{ this.category.image }}"></i>
        </div>
        <div class="col-7 d-flex flex-column justify-content-center">
          <h5>{{ this.name }}</h5>
          <h6>{{ this.date }}</h6>
        </div>
        <div class="col-3 d-flex justify-content-end align-items-center">
          <h5>{{ this.amount }}</h5>
        </div>
      </div>

      <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/records/{{ this._id }}/edit">編輯</a>
          <div class="dropdown-divider"></div>
          <form action="/records/{{ this._id }}?_method=DELETE" method="post">
            <button class="dropdown-item text-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>

    </div>
    {{/each}}
  </div>

  <div class="container text-center mb-2">
    <a href="/records/new">
      <button type="button" class="btn btn-danger btn-lg">新增支出</button>
    </a>
  </div>

</div>